if SHIELD_LP_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "LP_Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LP_SPLIT_LEFT

if SHIELD_LP_SPLIT_LEFT || SHIELD_LP_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LP_SPLIT_LEFT || SHIELD_LP_SPLIT_RIGHT
